*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'poppins' , sans-serif;
    scroll-behavior: smooth;
}

p {
    font-weight: 300;
    color: #1111;
}

header{
    position: fixed;
    top: 0%;
    left: 0%;
    padding: 20px;
    width: 100%;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0,5s;
}

.logo{
    color:blue;
    font-weight: bold;
    font-size: 2em;
    text-decoration: none;
}

.logo span{
    color: #fb911f;
}

.navbar{
    display: flex;
    position: relative;
}

.navbar li{
    list-style: none;
}

.navbar a{
   color:#4a23e7;
   text-decoration: none;
   margin-left: 30px;
   font-weight: 700px;
}

.btn-reservation{
    padding: 10px 20px;
    background: #fb911f;
    margin-top: -10px;
    text-transform: uppercase;
}

.btn-reservation:hover{
    background: #6e6352;
    transition: ease-out;
}

header .navbar li a:hover{
    color: #fb911f;
    border-bottom: 2px solid;
}